html,body{
    height: 100%;
}

a{
    color: black;
}

#top_banner{
    height: 80px;
    display: block;
    background: url(../img/topadnew.jpg) no-repeat center;
}

.contianer{
    width: 1200px;
    margin: auto;
}

/* 顶部导航----------------------------------- */

#topnav{
    background: #f5f5f5;
    border-bottom: 1px solid #e5e5e5;
}

/* 左侧-------- */

#topnav .topnav_left{
    float: left;
}

#topnav .topnav_left li{
    float: left;
    font-size: 14px;
    line-height: 30px;
}

#topnav .topnav_left li::after{
    content: '';
    display: inline-block;
    height: 16px;
    border-right: 1px solid #555555;
    margin: 8px 30px 0 9px;
    vertical-align: text-bottom;
}

#topnav .topnav_left li:nth-child(1)::after{
    border-right: 1.5px solid black;
}

#topnav .topnav_left li:nth-child(1) a{
    color: #bc338b;
}

#topnav .topnav_left li:nth-child(1) span:hover{
    color: #e52d88;
}

#topnav .topnav_left li:nth-child(n+2) a:hover{
    color: #e52d88;
}

#topnav .topnav_left li:last-child::after{
    border: none;
}

/* 右侧-------- */

#topnav .topnav_right{
    float: right;
    position: relative;
}

#topnav .topnav_right li{
    float: left;
    font-size: 14px;
    line-height: 30px;
    padding: 0 0 0 15px;
    margin: 0 12px; 
    cursor: pointer;
    position: relative;
}

#topnav .topnav_right li:nth-of-type(3),#topnav .topnav_right li:nth-of-type(4){
    padding: 0;
}

#topnav .topnav_right li:hover{
    color: #e52d88;
    background: #fff;
}


#topnav .topnav_right i{
    float: left;
    height: 16px;
    border-left: 1px solid #555555;
    margin-top: 6px;
}

#topnav .topnav_right span{
    display: inline-block;
    width: 9px;
    height: 8px;
    background: url(./img/commom-s50680dba8f.png) no-repeat;
    background-position:  0 -21px;
    margin: 3px;
    vertical-align: text-bottom;
}

#topnav .topnav_right li:hover span{
    background-position: 0 -9px;
}

#topnav .topnav_right_selnav1{
    position: absolute;
    left: -187px;
    top: 30px;
    width: 315px;
    background: #fff;
    border: 1px solid #e5e5e5;
    z-index: 1;
    display: none;
}

#topnav .topnav_right_selnav1 li{
    width: 33%;
    padding: 0;
    margin: 0;
    text-align: center;
}

#topnav .topnav_right_selnav2{
    width: 90px;
    position: absolute;
    left: 138px;
    top: 30px;
    background: #fff;
    border: 1px solid #e5e5e5;
    z-index: 1;
    display: none;
}

#topnav .topnav_right_selnav2 li{
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
}

#topnav .topnav_right_selnav3{
    width: 90px;
    position: absolute;
    right: 15px;
    top: 30px;
    background: #fff;
    border: 1px solid #e5e5e5;
    z-index: 1;
    display: none;
}

#topnav .topnav_right_selnav3 li{
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
}

/* 头---------------------- */

#header .contianer{
    height: 150px;
}

#header .contianer h1{
    text-indent: -999999px;
    float: left;
    width: 260px;
    height: 60px;
    background: url(./img/logonew.png) no-repeat;
    margin-top: 40px;
}

/* 搜索------------------ */

#search_box{
    float: right;
    padding: 35px 0;
}

/* 热搜词------ */
#search_box .hsw{
    font-size: 13px;
    color: #565656;
    padding: 5px 0;
}

#search_box .hsw a{
    color: #565656;
}

#search_box .hsw li,#search_box .hsw h2{
    float: left;
}

#search_box .hsw h2{
    line-height: 13px;
    margin: 0 15px 0 0;
}

#search_box .hsw li{
    line-height: 13px;
    padding: 0 5px;
    border-right: 1px solid #565656;
}

#search_box .hsw li:last-child{
    border: none;
}

#search_box .hsw li:hover a{
    color: #e52d88;
}


/* 搜索框----- */
#search_box .scd_box li{
    float: left;
}

#search_box .scd_box .search{
    width: 500px;
    border: 2px solid #bc348b;
    font-size: 0;
    position: relative;
}

#search_box .scd_box .search .select{
    display: inline-block;
    box-sizing: border-box;
    width: 85px;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    text-align: left;
    padding-left: 10px;
    border: 1px solid #e3e2e3;
    cursor: pointer;
}

#search_box .scd_box .search .select i{
    display: inline-block;
    width: 50px;
}

#search_box .scd_box .search .select span{
    display: inline-block;
    width: 9px;
    height: 9px;
    background: url(./img/commom-s50680dba8f.png) no-repeat;
    background-position:  0 -21px;
    margin: 3px 0 3px 0px;
    vertical-align: text-bottom;
}

#search_box .scd_box .search .search_text{
    width: 311px;
    height: 40px;
    font-size: 16px;
    vertical-align: top;
}

#search_box .scd_box .search .search_btn{
    width: 104px;
    height: 40px;
    vertical-align: top;
    background: #bc348b;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
}

#search_box .scd_box .search .select_nav{
    width: 83px;
    height: 68px;
    position: absolute;
    top: 41px;
    left: 1px;
    background: #fff;
    box-shadow: 0 0 1px 1px #ccc;
    border-radius: 1px;
    display: none;
}

#search_box .scd_box .search .select_nav p{
    font-size: 14px;
    line-height: 34px;
    text-align: left;
    padding-left: 10px;
    cursor: pointer;
}


#search_box .scd_box .cart{
    width: 150px;
    height: 44px;
    background: #bc348b;
    margin: 0 10px;
    color: #fff;
    line-height: 44px;
    vertical-align: middle;
    cursor: pointer;
}

#search_box .scd_box .cart span:first-child,#search_box .scd_box .datapacket span:first-child{
    display: inline-block;
    width: 80px;
    height: 100%;
    text-align: right;
    background: url(./img/receipt1.png) no-repeat left;
    margin: 0  0 0 15px;
}

#search_box .scd_box .num{
    font-size: 13px;
}

#search_box .scd_box .datapacket{
    width: 150px;
    height: 44px;
    background: #1c3a8b;
    color: #fff;
    line-height: 44px;
    vertical-align: middle;
    cursor: pointer;
}

#search_box .scd_box .datapacket span:first-child{
    background: url(./img/receipt2.png) no-repeat left;

}

#total_nav .contianer{
    overflow: hidden;
}

/* 商品分类 头------------- */
#total_nav{
    border-bottom: 2px solid #bc338b;
}

#total_nav .classification{
    float: left;
    width: 240px;
    height: 36px;
    background: #bc338b;
    color: #fff;
    cursor: pointer;
    margin-top: 1px;
}

#total_nav .classification li:nth-of-type(1){
    display: inline-block;
    width: 21px;
    height: 16px;
    background: url(./img/tab.png) no-repeat;
    margin: 11px 15px;
    float: left;
}

#total_nav .classification li:nth-of-type(2){
    float: left;
    font-size: 18px;
    line-height: 36px;
}

#total_nav .classification li:nth-of-type(3){
    float: left;
    font-size: 12px;
    margin: 12PX 0 0 10px;
}


/* 主导航-------------- */

#total_nav .main_nav{
    float: left;
}

#total_nav .main_nav li{
    float: left;
    width: 112px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    cursor: pointer;
    transition: color .3s;
}

#total_nav .main_nav li:hover{
    color: #bc338b;
}

#total_nav .main_nav li:nth-child(1){
    color: #bc338b;
}

/* 右指南--------- */

#total_nav .guide{
    float: right;
}

#total_nav .guide li{
    float: left;
    width: 56px;
    height: 36px;
    font-size: 14px;
    line-height: 36px;
    margin: 0 6px;
    cursor: pointer;
}


#com_box{
    width: 100%;
    height: 400px;
    position: relative;
}

/* 轮播图----------------- */
#banner{
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: -2;
}

#banner .swiper-wrapper .swiper-slide{
    width: 100%;
    height: 100%;
}

#banner .swiper-wrapper .swiper-slide:nth-of-type(2),#banner .swiper-wrapper .swiper-slide:nth-of-type(5){
    background: url(../img/20180901113541694.jpg) no-repeat;
}

#banner .swiper-wrapper .swiper-slide:nth-of-type(3){
    background: url(../img/20190227134707447.jpg) no-repeat;
}

#banner .swiper-wrapper .swiper-slide:nth-of-type(1),#banner .swiper-wrapper .swiper-slide:nth-of-type(4){
    background: url(../img/20190309174640643.jpg) no-repeat;
}



/* 商品分类框 */

#com_box .contianer{
    position: relative;
}

#com_box .contianer .com_classification{
    width: 240px;
    height: 400px;
    float: left;
    background: #183b8c;
    color: #fff;
}

#com_box .contianer .com_class_main{
    width: 780px;
    height: 400px;
    float: left;
    background: #fff;
}



/* 时尚饰品 */

#com_box .contianer .fashion_accessories{
    padding: 10px 40px 20px 40px;
}

#com_box .contianer .com_classification  h2{
    font-weight: bolder;
    font-size: 17px;
    line-height: 40px;
    margin: 0 0 5px 0;
    cursor: pointer;
    position: relative;
}

#com_box .contianer .com_classification  h2 span{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(./img/20180726185537327.png) no-repeat;
    position: absolute;
    top: 10px;
    left: -28px;
}

#com_box .contianer .com_classification h2 .bk2{
    background: url(./img/20180726185605158.png) no-repeat;
}

#com_box .contianer .com_classification h2 .bk3{
    background: url(./img/20180726185605158.png) no-repeat;
}

#com_box .contianer .fashion_accessories li,
#com_box .contianer .pure_silver_jewelry li,#com_box .contianer .marketable_platform li{
    font-size: 14px;
    float: left;
    width: 33%;
    cursor: pointer;
}

/* 纯银饰品 */

#com_box .contianer .pure_silver_jewelry{
    padding: 0 50px 20px 40px;
}

/* 适销平台 */

#com_box .contianer .marketable_platform{
    padding: 0 50px 42.2px 40px;
}

#com_box .contianer .marketable_platform li{
    width: 50%
}

/* 分类-main */

#com_box .contianer .com_class_main{
    position: absolute;
    display: none;
    top: 0;
    left: 240px;
    z-index: 1;
}


#com_box .contianer .com_class_main .left{
    width: 470px;
    float: left;
}

#com_box .contianer .com_class_main .left ul{
    float: left;
    width: 230px;
    height: 200px;
    margin-top: 10px;
    padding-left: 10px;
    box-sizing: border-box; 
}

#com_box .contianer .com_class_main .left ul h2{
    font-size: 14px;
    margin: 10px 0;
    padding: 0 3px;
}

#com_box .contianer .com_class_main .left ul li{
    width: 62px;
    height: 22px;
    float: left;
    border: 1px dashed #ccc;
    text-align: center;
    line-height: 22px;
    font-size: 12px;
    color: #999;
    margin: 5px 3px;
    cursor: pointer;
}

#com_box .contianer .com_class_main .right{
    margin: 10px 0 0 0;
}

#com_box .contianer .com_class_main .right ul{
    height: 200px;
}

#com_box .contianer .com_class_main .right ul li:nth-child(1){
    font-size: 14px;
    margin: 10px 0;
    padding: 0 3px;
}



/* 轮播聚焦 */

#com_box .contianer .banner_page_turn{
    width: 780px;
    height: 400px;
    float: left;
    position: relative;
}

#com_box .contianer .banner_page_turn .swiper-pagination{
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 0;
}

#com_box .contianer .banner_page_turn .swiper-pagination .swiper-pagination-bullet{
    width: 8px;
    height: 8px;
    background: rgba(0, 0, 0,.5);
    margin: 4px;
    cursor: pointer;
    outline: none ;
}

#com_box .contianer .banner_page_turn .swiper-pagination .swiper-pagination-bullet-active{
    background: #1c3a8b;
}

/* 轮播翻页 */
#com_box .contianer .pn{
    width: 100%;
    transform: translateY(-50%);
    overflow: hidden;
    position: absolute;
    top: 50%;
}

#com_box .contianer .pn span{
    display: inline-block;
    width: 35px;
    height: 60px;
    font-size: 20px;
    line-height: 60px;
    text-align: center;
    background: rgba(0, 0, 0,.4);
    color: #ccc;
    cursor: pointer;
    outline: none ;
}

#com_box .contianer .pn .prev{
    float: left;
}

#com_box .contianer .pn .next{
    float: right;
}

/* VIP栏 */

#com_box .contianer .vip{
    width: 210px;
    height: 400px;
    position: absolute;
    left: 1020px;
    top: 0;
    background: #183b8c;
}

#com_box .contianer .vip h2{
    font-size: 20px;
    line-height: 20px;
    font-weight: bolder;
    font-style: italic;
    color: #fff;
    text-align: center;
    margin: 10px 0;
}

#com_box .contianer .vip .p1{
    font-size: 12px;
    line-height: 16px;
    color: #fff;
    text-align: center;
}

#com_box .contianer .vip .vip_login{
    width: 83px;
    height: 24px;
    border-radius: 12px;
    background: #fff;
    margin: 10px auto 20px;
    text-align: center;
    font-size: 12px;
    line-height: 24px;
    cursor: pointer;
}

#com_box .contianer .vip ul{
    height: 290px;
    background: #eee;
    overflow: hidden;
}

#com_box .contianer .vip ul li{
    margin: 20px 0;
    padding-left: 55px;
}

#com_box .contianer .vip ul li h3{
    font-size: 16px;
    font-weight: bolder;
    line-height: 16px;
    color: #545454;
}

#com_box .contianer .vip ul li p{
    font-size: 12px;
    color: #999;
}

#com_box .contianer .vip ul li:nth-child(1){
    background: url(./img/TheFirstSingleEasy.png) no-repeat;
    background-position: 10px 1px;
}

#com_box .contianer .vip ul li:nth-child(2){
    background: url(./img/TransactionSecurity.png) no-repeat;
    background-position: 10px 1px;
}

#com_box .contianer .vip ul li:nth-child(3){
    background: url(./img/ProductPreferential.png) no-repeat;
    background-position: 10px 1px;
}

#com_box .contianer .vip ul li:nth-child(4){
    background: url(./img/SourceRebate.png) no-repeat;
    background-position: 10px 1px;
}

#com_box .contianer .vip ul li:nth-child(5){
    background: url(./img/PublishedTools.png) no-repeat;
    background-position: 10px 1px;
}

/* 新品爆款 */

/* 标题 */
#new_product{
    margin-top:70px; 
}

#new_product .title{
    font-size: 20px;
    line-height: 30px;
    font-weight: bolder;
    border-bottom: 2px solid #183b8c;
    margin-bottom: 15px;
}

#new_product .title a{
    font-size: 14px;
    line-height: 30px;
    margin-top: 3px;
    font-weight: normal;
    color: #999;
    float: right;
}

#new_product .banimg{
    float: left;
    cursor: pointer;
}

/* 选项卡 */
.optcard{
    width: 920px;
    float: right;
    position: relative;
    text-align: center;
}

.optcard span{
    display: inline-block;
    width: 16.66%;
    height: 44px;
    text-align: center;
    font-size: 14px;
    line-height: 44px;
    color: #676767;
    float: left;
    background: #f5f5f5;
}

.optcard span:nth-child(1){
    background: #fff;
}

.optcard .content{
    width: 100%;
    height: 500px;
    position: absolute;
    top: 44px;
    left: 50%;
    transform: translateX(-50%);
    color: #676767;
    display: none;
    margin: 20px 8px 10px;
}

.optcard .content:nth-child(7){
    display: block;
}

.optcard .content ul{
    float: left;
    margin: 10px 10px 20px; 
}

.optcard .content .goodsimg{
    width: 200px;
    height: 160px;
    cursor: pointer;
}

.optcard .content .goodsimg img{
    width: 80%;
}

.optcard .content .goodsname{
    width: 210px;
    height: 24px;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-indent: 1em;
    border-bottom: 1px dashed #ccc;
}

.optcard .content .price{
    width: 210px;
    font-size: 12px;
    color: #999;
    font-weight: bolder;
    margin: 18px 0 0 0;
}


/* 时尚饰品 */
/* 标题 */
#fashion_accessories{
    margin-top:50px; 
}

#fashion_accessories .title{
    font-size: 20px;
    line-height: 30px;
    font-weight: bolder;
    border-bottom: 2px solid #183b8c;
    margin-bottom: 15px;
}

#fashion_accessories .title a{
    font-size: 14px;
    line-height: 30px;
    margin-top: 3px;
    font-weight: normal;
    color: #999;
    float: right;
}

#fashion_accessories .banimg{
    float: left;
    position: relative;
    cursor: pointer;
}

#fashion_accessories .banimg .store_logo{
    position: absolute;
    bottom: 20px;
    left: 20px;
}

#fashion_accessories .banimg .store_logo a{
    display: inline-block;
    width: 110px;
    height: 40px;
}

#fashion_accessories .banimg .store_logo img{
    width: 100%;
    display: inline-block;
}

/* 选项卡 */
#fashion_accessories .optcard{
    width: 600px;
    height: 618px;
    float: left;
    margin-left: 55px;
}

#fashion_accessories .optcard .content ul{
    margin: 10px 5px 20px; 
}

#fashion_accessories .optcard .content .goodsimg{
    width: 190px;
}

#fashion_accessories .optcard .content .goodsname{
    width: 190px;
}

#fashion_accessories .optcard .content .price{
    width: 190px;
}

/* 右侧滚动栏 */

#fashion_accessories .goods_turn{
    float: left;
    margin: 10px 0 0 40px;
    overflow: hidden;
    padding-bottom: 25px;
    border-bottom: 2px solid #d1d8e8;
}

#fashion_accessories .g2{
    border: none;
}

#fashion_accessories .goods_turn i{
    float: left;
    font-size: 15px;
}

#fashion_accessories .goods_turn .goods-pagination{
    width: 150px;
    float: left;
    padding: 0 30px;
    box-sizing: border-box;
}

#fashion_accessories .goods_turn .goods-pagination .swiper-pagination-bullet{
    width: 8px;
    height: 8px;
    background: rgba(0, 0, 0,.5);
    margin: 4px;
    cursor: pointer;
    outline: none ;
}

#fashion_accessories .goods_turn .goods-pagination .swiper-pagination-bullet-active{
    background: #007ffd;
}

#fashion_accessories .goods_turn .goods-container{
    width: 220px;
    height: 200px;
    margin-top: 40px;
}

#fashion_accessories .goods_turn .goods-container img{
    width: 170px;
    height: 170px;
    margin: 0 25px 12px;
}

#fashion_accessories .goods_turn .goods-container p{
    font-size: 14px;
    color: #999;
}


/* 品牌商家 */

#store_logo .title{
    font-size: 20px;
    line-height: 30px;
    font-weight: bolder;
    border-bottom: 2px solid #183b8c;
    margin-bottom: 15px;
}

#store_logo ul{
    width: 100%;
}

#store_logo ul li{
    float: left;
    margin: 10px 0 0 10px;
    
}

#store_logo img{
    width: 140px;
    height: 50px;
    transition: all .2s;
}

#store_logo img:hover{
    transform: scale(1.1);
}


/* 首饰产地 */

#producing_area .title{
    font-size: 20px;
    line-height: 30px;
    font-weight: bolder;
    border-bottom: 2px solid #183b8c;
    margin-bottom: 15px;
    margin-top: 80px;
}

#producing_area ul{
    padding: 0 20px 40px;
}

#producing_area ul li{
    width: 190px;
    float: left;
    margin: 10px 20px;
}

#producing_area ul li img{
    width: 90px;
    margin: 0 50px;
}

#producing_area ul li h2{
    font-size: 14px;
    line-height: 18px;
    font-weight: bolder;
    text-align: center;
}

#producing_area ul li p{
    font-size: 14px;
    text-align: center;
}

/* 行业资讯 */

#industry .title{
    font-size: 20px;
    line-height: 30px;
    font-weight: bolder;
    border-bottom: 2px solid #183b8c;
    margin-bottom: 15px;
    margin-top: 80px;
}

#industry .title a{
    font-size: 14px;
    line-height: 14px;
    margin-top: 3px;
    font-weight: normal;
    color: #999;
    float: right;
}

#industry dl{
    float: left;
    margin-right: 50px;
}

#industry dl:last-child{
    margin-right: 0;
}

#industry dl dt{
    margin: 15px 0;
}

#industry .dynamic .dynamic-container{
    width: 238px;
    overflow: hidden;
    position: relative;
}

#industry .dynamic .dynamic-container .swiper-slide{
    height: 298px;
}

#industry .dynamic .dynamic-pagination{
    position: absolute;
    bottom: 8px;
    text-align: center;
    z-index: 1;
}

#industry .dynamic .dynamic-pagination .swiper-pagination-bullet{
    margin: 0 6px;
    background: #1c3a8b;
}

#industry .inf_case dd{
    float: left;
    margin: 0 10px 20px 0;
}

#industry .inf_case img{
    width: 180px;
    height: 125px;
}

#industry .inf_case .news{
    width: 230px;
}

#industry .inf_case .news h2{
    width: 230px;
    line-height: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 10px;
}

#industry .inf_case .news .main{
    font-size: 14px;
    line-height: 16px;
    color: #999;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-bottom: 20px;
}

#industry .inf_case .news .time{
    font-size: 14px;
    line-height: 16px;
    color: #999;
}

#industry .inf_case .news .time span{
    font-size: 12px;
}

#industry .inf_case .news_list{
    clear: both;
}

#industry .inf_case .news_list li{
    width: 420px;
    font-size: 14px;
    list-style: disc inside;
    border-bottom: 1px dashed #ccc;
    padding: 0 0 6px 0;
    margin-top: 6px;
}

#industry .inf_case .news_list li a{
    display: inline-block;
    width: 310px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: top;
}

#industry .inf_case .news_list li a:hover{
    text-decoration: underline;
}

#industry .inf_case .news_list li span{
    float: right;
    font-size: 13px;
    color: #999;
}


/* 合作伙伴 */

#partner .title{
    font-size: 20px;
    line-height: 30px;
    font-weight: bolder;
    border-bottom: 2px solid #183b8c;
    margin-bottom: 15px;
    margin-top: 80px;
}

#partner .title a{
    font-size: 14px;
    line-height: 14px;
    font-weight: normal;
    color: #999;
    float: right;
}

#partner .partner_logo{
    display: inline-block;
    transition: all .2s
}

#partner .partner_logo:hover{
    transform: scale(1.1);
}

#partner .partner_logo img{
    width: 235px;
}


/* 底部 */

#footer{
    background: #0c1839;
}

#footer .footer_nav{
    padding-bottom: 50px;
    border-bottom: 1px solid #333a4e;
}

#footer .footer_nav dl{
    float: left;
    margin: 30px 110px 0 0;
}

#footer .footer_nav dl a{
    color: #fff;
}

#footer .footer_nav dl a:hover{
    text-decoration: underline;
}

#footer .footer_nav dl dt{
    font-size: 15px;
    line-height: 15px;
    margin-bottom: 20px;
}

#footer .footer_nav dl dd{
    font-size: 14px;
    line-height: 24px;
}

#footer .footer_nav ul{
    float: left;
    margin: 35px 90px 0 0;
}

#footer .footer_nav ul li:nth-child(2n+1){
    font-size: 15px;
    color: #fff;
}

#footer .footer_nav ul li:nth-child(2n){
    font-size: 18px;
    color: #e2a302;
    margin: 5px 0;
}

#footer .footer_nav dl:last-child{
    margin-right: 0;
}

#footer .footer_nav dl:last-child dt{
    margin-bottom: 0;
}

#footer .footer_nav dl:last-child dd{
    font-size: 12px;
    margin: 0;
    color: #fff;
}

#footer .footer_nav .footer_img{
    width: 105px;
    height: 105px;
    background: url(img/MobileCode.png)
}

/* 版权 */

#footer .copyright{
    color: #999;
    text-align: center;
    font-size: 14px;
    margin: 30px 0 0 0;
}

#footer .copyright .partner_name a{
    font-size: 12px;
    line-height: 12px;
    color: #999;
}

#footer .copyright .partner_name a:hover{
    color: #fff;
    text-decoration: underline;
}

#footer .copyright .partner_name{
    margin-bottom: 50px;
}

#footer .copyright .attestation{
    padding-bottom: 30px;
}

#footer .copyright .attestation a{
    margin: 0 20px;
}

#footer .copyright .attestation a:nth-child(1) span{
    display: inline-block;
    width: 128px;
    height: 52px;
    background: url(img/newGovIcon.gif) no-repeat;
}

#footer .copyright .attestation a:nth-child(2) span{
    display: inline-block;
    width: 128px;
    height: 52px;
    background: url(img/aliyun.jpg) no-repeat;
}

#footer .copyright .attestation a:nth-child(3) span{
    display: inline-block;
    width: 128px;
    height: 52px;
    background: url(img/alipay.jpg) no-repeat;
}

#footer .copyright .attestation a:nth-child(4) span{
    display: inline-block;
    width: 128px;
    height: 52px;
    background: url(img/pfhoo.jpg) no-repeat;
}

#footer .copyright .attestation a:nth-child(5) span{
    display: inline-block;
    width: 128px;
    height: 52px;
    background: url(img/shiming.jpg) no-repeat;
}

#footer .copyright .attestation a:nth-child(6) span{
    display: inline-block;
    width: 128px;
    height: 52px;
    background: url(img/Bottom_360rz.png) no-repeat;
}

/* 右侧固定栏 */

#sidebar{
    width: 35px;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    background: #0c1839;
}

#sidebar .icon-wo{
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #fff;
    margin-top: 150px;
    font-size: 25px;
    color: #fff;
    text-align: center;
    padding: 2px 0 5px;
    cursor: pointer;
}

#sidebar .icon-wo:hover{
    background: #fff;
    color: #0c1839;
}

#sidebar .cart{
    color: #fff;
    text-align: center;
    border-bottom: 1px solid #fff;
    cursor: pointer;
}

#sidebar .cart .cart_img{
    display: inline-block;
    width: 25px;
    height: 23px;
    margin: 10px 0;
    background: url(img/receipt1.png);
    border-radius: 0 !important;
}

#sidebar .cart .cart_p{
    width: 14px;
    font-size: 14px;
    margin-left: 50%;
    transform: translateX(-50%);
}

#sidebar .cart span{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #fff;
    color: #0c1839;
    border-radius: 50%;
    text-align: center;
    margin: 5px 0 10px;
    font-size: 15px;
}

#sidebar .minicon li{
    height: 36px;
    color: #fff;
    font-size: 19px;
    line-height: 36px;
    text-align: center;
    cursor: pointer;
    position: relative;
}


#sidebar .minicon li:hover{
    background: #fff;
    color: #0c1839;
}

#sidebar .minicon .icon-QQ{
    padding-left: 6px;
    text-align: left;
}

#sidebar .feedback_top{
    width: 100%;
    position: absolute;
    bottom: 0;
}

#sidebar .feedback_top li{
    height: 36px;
    color: #fff;
    font-size: 19px;
    line-height: 36px;
    text-align: center;
    cursor: pointer;
}

#sidebar .feedback_top li:hover{
    color: #0c1839;
    background: #fff;
}

#totop{
    display: none;
}

/* 右侧栏隐藏提示信息 */
#sidebar .hide_inf{
    width: 100px;
    position: absolute;
    top: 322px;
    right: 40px;
    text-align: right;
}

#sidebar .hide_inf li{
    white-space: nowrap;
    background: #000;
    font-size: 12px;
    color: #fff;
    padding: 8px 8px;
    text-align: center;
    margin: 4px 0 0 0;
    border-radius: 4px;
    position: absolute;
    right: 5px;
    display: none;
    overflow: hidden;
}

#sidebar .hide_inf li:nth-child(2){
    top: 36px;
}

#sidebar .hide_inf li:nth-child(3){
    top: 72px;
}

#sidebar .hide_inf li:nth-child(4){
    top: 108px;
    padding: 0;
    width: 260px;
    height: 254px;
}

#sidebar .hide_inf li:nth-child(5){
    top: 140px;
}

#sidebar .hide_inf .wx .wx_img{
    display: inline-block;
    width: 260px;
    height: 254px;
    background: url(img/1557568524.jpg) no-repeat;
    top: 0;
    right: 0;
    border: 0;
    border-radius: 4px;
}

#sidebar .hide_inf li span{
    position: absolute;
    right: -8px;
    top: 3px;
    border: 8px solid #000;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
}

#sidebar .hide_inf li:nth-child(4) span{
    border-bottom-color: #fff;
}



/* 顶部认证信息 */

#autinf{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    z-index: 2;
}

#autinf .top{
    height: 48px;
    background: #21ad49;
}

#autinf .top p{
    float: left;
    color: #fff;
    font-size: 17px;
    line-height: 48px;
}

#autinf .top span{
    float: left;
    width: 18px;
    height: 23px;
    display: inline-block;
    background: url(../css/img/trusted-web1_01.png);
    margin: 14px;
}

#autinf .top .right{
    height: 100%;
    float: right;
}

#autinf .top .right i{
    line-height: 48px;
    color: #ffe6ae;
    margin-right: 30px;
}

#autinf .top .right .right_img{
    display: inline-block;
    width: 102px;
    height: 38px;
    background: url(img/trusted-web2_01_01_01.png);
    margin: 5px 100px 0 0;
    float: right;
}

#autinf .bottom{
    background: #f0eadc;
}

#autinf .bottom li{
    width: 16%;
    height: 43px;
    float: left;
    color: #5fbf89;
    font-size: 14px;
    line-height: 43px;
}

#autinf .bottom a{
    color: #5fbf89;
    text-decoration: underline;
}

#autinf .bottom li span{
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url(../css/img/trusted-web5.png);
    margin: 0 14px 0 0;
    vertical-align: middle;
}

#hide{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 3;
}

/* 底部固定咨询栏 */

#online_con{
    width: 136px;
    height: 52px;
    background: #00AEF3;
    border-radius: 5px;
    padding-left: 2px;
    position: fixed;
    right: 2px;
    bottom: 2px;
}

#online_con .img{
    height: 100%;
    background: url(img/iconWord0.png) no-repeat;
}

#lam{
    width: 240px;
    height: 310px;
    position: fixed;
    bottom: 0;
    left: 1px;
    z-index: 5;
}

#lam .title{
    height: 35px;
    font-size: 14px;
    line-height: 35px;
    color: #fff;
    background: #00aef3;
    padding-left: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#lam .title span{
    display: inline-block;
    float: right;
    width: 12px;
    padding: 16px 8px;
    font-size: 0;
    line-height: 0;
    cursor: pointer;
}

#lam .title span i{
    display: inline-block;
    width: 100%;
    border: 1px solid #fff; 
}

#lam .lam_send{
    width: 100%;
    height: 275px;
    background: #ededed;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 12px 0 0 10px;
    box-sizing: border-box;
    overflow: hidden;
}

#lam .lam_send .text{
    width: 215px;
    height: 81px;
    border: 1px solid #d5d5d5;
}

::-webkit-input-placeholder{
    color: #999;
    font-size: 12px;
}

#lam .lam_send div{
    width: 221px;
    border: 1px solid #d5d5d5;
    background: #fff;
    padding-left: 10px;
    margin: 6px 0;
    box-sizing: border-box;
}

#lam .lam_send input{
    width: 140px;
    height: 30px;
    margin-left: 10px;
}

#lam .lam_send .send{
    width: 90px;
    height: 35px;
    background: #00aef3;
    border-radius: 2px;
    text-align: center;
    line-height: 35px;
    font-size: 14px;
    color: #fff;
    margin: 0;
}

#lam .lam_send .user_img{
    display: inline-block;
    width: 14px;
    height: 12px;
    background: url(img/user.png);
}

#lam .lam_send .user_phone{
    display: inline-block;
    width: 13px;
    height: 13px;
    background: url(img/nodephone.png);
}

#lam .lam_send .user_email{
    display: inline-block;
    width: 13px;
    height: 8px;
    background: url(img/nodemail.png);
}